# BigQuery destination configuration
[destination.bigquery]
location = ""

[destination.bigquery.credentials]
project_id = ""
type = ""
private_key = ""
client_email = ""

# Cloud Storage for staging
[destination.filesystem.credentials]
project_id = ""
client_email = ""
private_key = ""